################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/呼和浩特市精细化天气预报评分系统/v15
/呼和浩特市精细化天气预报评分系统—数据库/.vshistory
